<ion-view view-title="Dashboard">
  <ion-content>
    <h1>Boa tarde!</h1>
    <br/><br/><br/>
  		<label>Obter Suporte</label>
		<div class="button-bar">
		  <a ui-sref="agenteVirtual" class="button">
		    <i class="icon ion-person"></i>
		  </a>
		  <a ui-sref="agenteVirtual" class="button">
		    <i class="icon ion-ios-telephone"></i>
		  </a>
		  <a ui-sref="agenteVirtual" class="button">
		    <i class="icon ion-chatboxes"></i>
		  </a>
		</div>
		<br/>
		<label>Indicadores</label>
		<div class="button-bar">
		  <a ui-sref="indicadores" class="button">
		    <i class="icon ion-arrow-graph-up-right"></i>
		  </a>
		  <a ui-sref="indicadores" class="button">
		    <i class="icon ion-pie-graph"></i>
		  </a>
		</div>
	  	<br/>
	  	<label>Base de conhecimento</label>
		<div class="button-bar">
		  <a href="" class="button">
		    <i class="icon ion-arrow-up-a"></i>
		  </a>
		  <a href="" class="button">
		    <i class="icon ion-arrow-down-a"></i>
		  </a>
		  <a href="" class="button">
		    <i class="icon ion-quote"></i>
		  </a>
		</div>

	</div>
  </ion-content>
</ion-view>
