<ion-view view-title="Dashboard">
  <ion-content style="text-align: center">
    <h1 style="text-align: left">Boa tarde!</h1>
    <br/><br/><br/>
  		<label>Obter Suporte</label>
		<div class="button-bar">
		  <a ui-sref="agenteVirtual" class="button">
		    <i class="icon ion-person"></i><br/>
		    <label>Teste</label>
		  </a>
		  <a ui-sref="agenteVirtual" class="button">
		    <i class="icon ion-ios-telephone"></i><br/>
		    <label>Teste</label>
		  </a>
		  <a ui-sref="agenteVirtual" class="button">
		    <i class="icon ion-chatboxes"></i><br/>
		    <label>Teste</label>
		  </a>
		</div>
		<br/>
		<label>Indicadores</label>
		<div class="button-bar">
		  <a ui-sref="indicadores" class="button">
		    <i class="icon ion-arrow-graph-up-right"></i><br/>
		    <label>Teste</label>
		  </a>
		  <a ui-sref="indicadores2" class="button">
		    <i class="icon ion-pie-graph"></i><br/>
		    <label>Teste</label>
		  </a>
		</div>
	  	<br/>
	  	<label>Base de conhecimento</label>
		<div class="button-bar">
		  <a href="" class="button">
		    <i class="icon ion-arrow-up-a"></i><br/>
		    <label>Teste</label>
		  </a>
		  <a href="" class="button">
		    <i class="icon ion-arrow-down-a"></i><br/>
		    <label>Teste</label>
		  </a>
		  <a href="" class="button">
		    <i class="icon ion-quote"></i><br/>
		    <label>Teste</label>
		  </a>
		</div>

	</div>
  </ion-content>
</ion-view>
