<ion-view view-title="Indicadores">
  <ion-content>
    <h1>Boa tarde!</h1>
    <ion-scroll zooming="true" direction="xy"  style="width: 100vw; height: 100vh" >
	  	<iframe height="336" width="100%" frameborder="0" src="http://ec2-52-43-114-241.us-west-2.compute.amazonaws.com:8000/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2FCONSUMO_CPU_POR_TIPO_ACAO&oid=7eNqMeX3bGWk0h2KpOYdVfLUCQCSL1TycYvYwPwzzEYxZTZyuoiF4JRq3yGRKrvtETZvTUN0f4oHVh0SyYqqSn5FzNZrc%5EhJn0btJYwJt%5EuG4AJ7gbDhYwUaRq5_c2c1NTAm1XI2aN0YzOmUXfI6oD5NXo"></iframe>
	  	<iframe height="336" width="100%" frameborder="0" src="http://ec2-52-43-114-241.us-west-2.compute.amazonaws.com:8000/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2FTIPOS_DE_ACAO&oid=_gnl9gWHeHakam4o5V7Ngdfonez19ONG%5EeFiQhRVjmF7IeKyl7quRF3quzW6gkP2oXbWTCkXX%5Evn_IytWZ6NlAhlBNSme_mPQr7Q08PupWhDDEM0Q7J8fp%5EYADsHPczNJ8bwJWWX"></iframe>
	  	<iframe height="336" width="100%" frameborder="0" src="http://ec2-52-43-114-241.us-west-2.compute.amazonaws.com:8000/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2FTIPOS_ERROS&oid=L9%5Emn1itk2G_GfbPbDu5_zVj8mZcanossWBTN0rf3gaifMU3OuYG5Jds1Mtvho1sFDuJar8%5EKKhFkoSnz0KzGFHq9pfDmv5D68lYSztnYzbZSYnQ%5EI2g2dlCXmozz4LJRDYN"></iframe>
	  	<iframe height="336" width="100%" frameborder="0" src="http://ec2-52-43-114-241.us-west-2.compute.amazonaws.com:8000/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2FSplunkd_KiloBytes_by_Group&oid=Bw2StFh4fQvTbuUTbbL5rLxEaDSjQFDiNUvHmkNq3dUTtZ9OB7SuDnS6N1_2wxvihhpSt8b1DP8WbDnPC9w8CYVguPcnwMItg4lCN%5EoLEWPv4X3clKJ1nd16ZuiOwhyDrJGockSpkMIcIriOjB8cy_r"></iframe>
	  	<iframe height="336" width="100%" frameborder="0" src="http://ec2-52-43-114-241.us-west-2.compute.amazonaws.com:8000/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2FActivity_Level_By_Entity&oid=3Z3JsyW0pjG_TnL9Dtswy3IYQjaRK7JLxnVK%5E1lmq9xa9O0SrZ5c2UuBR9sLz5x30jHxKZDM_K7CH7d66iIq1OfwmFIqJSi7u5cGlN08o0BGd9FZJ4INeqIA9rDjU9VmVaA2QXz1R20q%5EfLfcYx"></iframe>
  	</ion-scroll>
  </ion-content>
</ion-view>
