<ion-view view-title="Indicadores">
  <ion-content>
    <h1>Boa tarde!</h1>
    <ion-scroll zooming="true" direction="xy"  style="width: 500px; height: 700px" >
	  	<iframe height="336" width="480" frameborder="0" src="http://ec2-52-43-114-241.us-west-2.compute.amazonaws.com:8000/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2FCriticidade_Ticket&oid=qEH9cLr9g%5EHLaVVUZDgM8En8A5T8PvliCE4a9Ow6jCScAdZO1sejhdwdo%5E9ec83TDKRfUy5Oivsrmh5kOoIoAJQTxYu9tBW6jAlpOcHNTIg7KS_SnjHwikU9PEtQSbUdbv90yCx%5EdJ7"></iframe>
	  	<iframe height="636" width="480" frameborder="0" src="http://ec2-52-43-114-241.us-west-2.compute.amazonaws.com:8000/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2FSLA_TICKETS_DIAS_EXCETO_SEGUNDOS&oid=qwJwf0l8VFrsRHPSFsCsNiP_3MRemtu9aUa6Xw7KUD_H6VDOCAd9NS8kuyNk6JJXCBfu8Z3pPKCW0vYnJYsnpKk49d82whcVvnqpvqqlK8TDTHd47iF3L%5ELDo7RnRhLCkGJFqLeBKGWoKapb3gMq2ODP6cIwDmRL"></iframe>
	  	<iframe height="336" width="480" frameborder="0" src="http://ec2-52-43-114-241.us-west-2.compute.amazonaws.com:8000/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2FSplunkd_Activity_Level_by_Group&oid=kXbRg954MqGgUhNtWt7YS4eZzLe%5E6%5E5iKaXGtOAsPv0QA9STdvY9pLLS%5EDZl1ZXmPJ%5EJRovEsg1RoAgmDA_AZlF2DCgXEifBhwLrjg9QVFRGGz1XsUshmGe5IMj3jXadQXndAl1llujUP3P8s4W7i4FWZ3YwSqhWDF"></iframe>
	  	<iframe height="336" width="480" frameborder="0" src="http://ec2-52-43-114-241.us-west-2.compute.amazonaws.com:8000/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2FSLA_TICKETS_GRAFICO_DIAS_EXCETO_SEGUNDOS&oid=oPFP83RtKP7nHt%5En_bv%5EIHQxRg44k3orTTd_2IkJ9TRFBYQloE7lbgZBv22eVMNFEKtJRxnuG4PdrQA_3R1H_yoToSEGgy8sEXnTKsMwJe1%5EeHrpuS1XvifySquDQjRd6NSXguKzbuIp9VzPovdpdnfx3B83EF%5EaISsPq7cDzo"></iframe>
  	</ion-scroll>
  </ion-content>
</ion-view>
