<ion-view view-title="Agente Virtual" class="menu-background virtual-agent">
<ion-nav-back-button hide-back-button="false">
    </ion-nav-back-button>
	<ion-nav-buttons side="primary">
      <button class="button transparent-color" ui-sref="profile" >
		    <img style="width: 2.5em;" src="img/Assets/Ico_Menu.svg" alt="menu">
      </button>
    </ion-nav-buttons>	
  <ion-content>

	<div class="row  ">
	  <div class="col col-50">
		  <div class="list card transparent-color">
		    <div class="item item-image transparent-color">
			  	<img src="img/placeholder.png">
			  </div>
		  </div>
	  </div>

	  <div class="col col-50">
  		<div class="list">
		    <div class="chat-bubble right col" style="
					    min-height: 100px;
					    padding: 20px;
					">

			  <div class="message ng-binding" >
			  	<span ng-bind="AtendimentoCtrl.responseField"></span>
			  </div>

			  <div class="message-detail">
			      <!-- <span class="bold ng-binding"></span>,  -->
			      <span ></span>
			  </div>

			</div>
			</div>
	  </div>
	</div>
  	

  	
  </ion-content>
	<form  ng-submit="AtendimentoCtrl.sendMessage();">
		<ion-footer-bar align-title="center" class="bar">
		  <div class="item item-input-inset " style="
			    width: 100%;
			">
			    <label class="item-input-wrapper">
			      <input type="text" ng-model="AtendimentoCtrl.messageField" placeholder="">
			    </label>
			    <button  type="submit" class="button button-small">
			      <i class="icon ion-ios-paperplane"></i>
			    </button>

		  </div>
		</ion-footer-bar>
	</form>
</ion-view>


