<ion-view   title=" <div><img src='img/Assets/Image_Perfil.png'  > </div> <span>Hello, Jonathan Lins </span>	" class="menu-background dashboard">
 	<ion-nav-bar>
    <ion-nav-back-button hide-back-button="true">
    </ion-nav-back-button>
  </ion-nav-bar>
	<ion-nav-buttons side="primary">
      <button class="button transparent-color" ui-sref="profile" >
		    <img style="width: 2.5em;" src="img/Assets/Ico_Menu.svg" alt="Kiwi standing on oval">
      </button>
    </ion-nav-buttons>	
  <ion-content >
  	<ion-scroll zooming="false" direction="xy" style="width: 100%; height: 100%;">
		<div class="box ">
	  		<label class="title">Support</label>
			<div class="button-bar transparent-color">
			  <a ui-sref="agenteVirtual" class="button transparent-color">
			    <i class="icon-Ico_Chat" ></i>
			    <label>Chat</label>
			  </a>
			  <a href="#" onclick="window.open('http://poc.looqbox.com/nta/', '_system', 'location=yes'); return false;" class="button transparent-color">
			    <i class="icon-Ico_SelfService" ></i>
			    <label>Self-Service</label>
			  </a>
			  <a ui-sref="agenteVirtual" class="button transparent-color">
			    <i class="icon-Ico_VirtualAgent" ></i>
			    <label>Virtual Agent</label>
			  </a>
	  		</div>
		</div>
		<div class="box">
		  	<label class="title">Knowledge Base</label>
			<div class="button-bar transparent-color">
			  <a href="" class="button transparent-color">
			    <!-- <i class="icon ion-arrow-up-a"></i> -->
			    <i class="icon-Ico_Collaborate" ></i>
			    <label>Collaborate</label>
			  </a>
			  <a href="" class="button transparent-color">
			    <i class="icon-Ico_Consult"></i>
			    <label>Consult</label>
			  </a>
			  <a href="" class="button transparent-color">
			    <i class="icon-Ico_Statistics"></i>
			    <label>Statistic</label>
			  </a>
			</div>
		</div>
		<div class="box">
			<label class="title">Indicators</label>
			<div class="button-bar transparent-color">
			  <a ui-sref="indicadores" class="button transparent-color" >
			    <i class="icon-Ico_Business"></i>
			    <label>Business</label>
			  </a>
			  <a ui-sref="indicadores2" class="button transparent-color">
			    <i class="icon-Ico_Technology"></i>
			    <label>Technology</label>
			  </a>
			</div>
		</div>
	</ion-scroll>

  </ion-content>
</ion-view>
