<ion-view view-title="Indicadores">
  <ion-content>
    <h1>Boa tarde!</h1>
    <ion-scroll zooming="true" direction="xy"  style="width: 100vw; height: 100vh" >
	  	<iframe height="96" width="100%" frameborder="0" src="http://ec2-52-43-114-241.us-west-2.compute.amazonaws.com:8000/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2FQuantidade_Status_Pendente&oid=Jf_1BG6gEmZJ5dSwdApSpE2bSi1STFXkfY5RjPPCdsmp06u%5EVAVlZl64WF_%5E0_uXKp30grTCRERK4VxtZslVg0Ox9Nakhup7SuOC92l7flfkt2GxoKDhDrbg%5E%5EqjdTagm5eoTa7WRvN5hu9nxCXBeLckjHcX"></iframe>
		<iframe height="96" width="100%" frameborder="0" src="http://ec2-52-43-114-241.us-west-2.compute.amazonaws.com:8000/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2FQTDE_STATUS_EM_ANDAMENTO&oid=H10HR_OhGtzPrCUhxEbYoK%5EDrin5xFjJE1HbMvLxU6zc2HXlodbVXLBFJ%5ER1TJodZZyFmE6AfdxnpTx9hAudPlXIav1IWeU2LVR9%5EkkoWMkKvxB6QKEW4e9TvUpAEZW4c9aUHKrNUDwGa_3lm1kdK_3"></iframe>
		<iframe height="96" width="100%" frameborder="0" src="http://ec2-52-43-114-241.us-west-2.compute.amazonaws.com:8000/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2FQuantidade_Status_Concluido&oid=bwuHT1DGaEXQQ_wJolD9a69zVXZf3wvvvspR9TML6LKC03mooHn3r97ZVH2osky%5EJR8oxaUWvqMODR2ptcidLT4%5EbOtnuUnnxmaIkegR0PPbjWQimwF9VpxmhsBP%5E4%5EuuVXo5lM5edMyn7EdtbODH9MH0LqsTMC"></iframe>
		<iframe height="336" width="100%" frameborder="0" src="http://ec2-52-43-114-241.us-west-2.compute.amazonaws.com:8000/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2FSLA_TICKETS_GRAFICO_DIAS_EXCETO_SEGUNDOS&oid=4fQB4EAbIjZcV3LUGKyUvcOzcJBnZDZLFLu2F6ZXRCHzgKARkEOsoNfC2IJ7knC33mEE_uqSn7ROdw5NySI35Qjj3Z%5EIsI0CwdDY8PfExkk1CleQSbgpSDAaXjVbNJ_smvyKIbzjwWV5L6HISzyh3nECbG9UrnkI12r72NiT"></iframe>

  	</ion-scroll>
  </ion-content>
</ion-view>
