<ion-view view-title="Indicadores">
  <ion-content>
    <h1>Boa tarde!</h1>
    <ion-scroll zooming="true" direction="xy"  style="width: 100vw; height: 100vh" >
	  	<iframe height="336" width="100%" frameborder="0" src="http://ec2-52-43-114-241.us-west-2.compute.amazonaws.com:8000/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2FSplunkd_Activity_Level_by_Group&oid=eEKlljIZ5aM67YlX9kSurex_3NUBgNb02WYGhV4xO9NcQzsQUo7oa16FnBpLdlVqhznTMwT1rBI7Z7a52OuTAEWZCdvQ%5E1HoZ4ofCk8Q4yJgxrqpgW6MC65WjO23g6SN3lpKBZsoNP50F2ru6C1abY9N_qEGU3dFnyr"></iframe>
	  	<iframe height="336" width="100%" frameborder="0" src="http://ec2-52-43-114-241.us-west-2.compute.amazonaws.com:8000/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2FSplunkd_Events_by_Processor&oid=Ty7krN5ZXYDLYbVetlVMMz%5EFVpsGWUxITYEUCbdOT1T%5Eu4I_bdbMwH%5EbNmTWKFalHbGPRWkjxDXGBIIteReTvlJ_RZn2mNBCdLTlDe5tSPfOCVtv4QICcimzROvNk1MWxcM3vKU%5E0gjmZvjnk%5EjrzdrUjmYstd0"></iframe>
	  	<iframe height="336" width="100%" frameborder="0" src="http://ec2-52-43-114-241.us-west-2.compute.amazonaws.com:8000/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2FCriticidade_Ticket&oid=8wXl_8_2AoIyqeRE3VfDG%5EeMGtnLSnZl5mIO03znJGPaFUCP86cuMa9cra9jjyzYGO4ICfpWcS%5EtluiGTLNXnM2tN6xDkWm5s4r7VRSUTkqZ3WYSgFKK02oHTXAdXTy%5E8e8FNAIK18wCR8jX3F"></iframe>
	  	<iframe height="636" width="100%" frameborder="0" src="http://ec2-52-43-114-241.us-west-2.compute.amazonaws.com:8000/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2FSLA_TICKETS_DIAS_EXCETO_SEGUNDOS&oid=a6961mUiSxABF3MpH9%5EjnJTdrqP8ssmF7xshU3AvOpc%5EKKUcGwOejD8O5rp6zn%5EaFsLeDpH8h8iOwQN7oVAq5g%5EXTIDmatV7V%5EcQWfOtHwJUd_OMUf0FzM_1EfIsiGOzdG0JC1NBTZAPBmz9ZXfaj3C5ZzYOTX2NUpDuto"></iframe>

  	</ion-scroll>
  </ion-content>
</ion-view>
