<ion-view view-title="Profile"  class="profile menu-background" >
	<ion-nav-buttons side="primary">
      <button class="button transparent-color" ui-sref="dashboard">
		    <i class="icon ion-close-round"></i><br/>
      </button>
    </ion-nav-buttons>	
  <ion-content >
	<div class="profile-header list transparent-color" style="text-align: center; padding-top: 20px">
    	<img src="img/Assets/Image_Perfil.png">
	  <div class="item transparent-color">
	    <h2>Pretty Hate Machine</h2>
	    <p>Nine Inch Nails</p>
	  </div>
	</div>
	<div class="list transparent-color">
	  <a class="item item-icon-left transparent-color" href="#">
	    <i class="icon ion-email"></i>
	    Check mail
	  </a>
	  <a class="item item-icon-left transparent-color" href="#">
	    <i class="icon ion-chatbubble-working"></i>
	    Call Ma
	  </a>

	  <a class="item item-icon-left transparent-color" href="#">
	    <i class="icon ion-mic-a"></i>
	    Record album
	  </a>
	  <a class="item item-icon-left transparent-color" href="#">
	    <i class="icon ion-person-stalker"></i>
	    Friends
	    <span class="badge badge-assertive">0</span>
	  </a>

	</div>
  </ion-content>
</ion-view>
