<ion-view view-title="" hide-nav-bar="true"  class="profile menu-background" >
  <ion-content >
  	<ion-scroll zooming="false" direction="xy" style="width: 100%; height: 100%;">
		<div class="profile-header list transparent-color" style="text-align: center; padding-top: 0px">
			<div style="text-align: right;"> 
				<button class="button transparent-color" ng-click="$ionicGoBack()" >
		    			<img style="width: 2.5em; border:0px" src="img/Assets/Ico_Close.svg"  >

				</button>
			</div>

		  <img src="img/Assets/Image_Perfil.png">
		  <div class="item transparent-color">
		    <h1>Jonathan Lins</h1>
		    <p>jonathan.lins@accenture.com</p>
		  </div>
		</div>
		<div class="list profile-menu transparent-color">
		  <a class="item item-icon-left transparent-color" href="#">
		    <i class="icon icon-Ico_Dashboard" ></i>
		    <span>
		    	
		    DASHBOARD
		    </span>
		  </a>
		  <a class="item  item-icon-left transparent-color" ng-class="{'opened':open}" ng-init="open=false" ng-click="open=!open">
		    <i class="icon icon-Ico_Request" ></i>
		    REQUESTS
		    <span  ng-show="!open" class="badge badge-assertive only-board red">12</span>
		  </a>
			<div class="list sub-list" ng-show="open">
				<a class="item transparent-color" href="#">
					My requests
					<span class="badge badge-assertive only-board red">6</span>
				</a>
				<a class="item transparent-color" href="#">
					Backlog
					<span class="badge badge-assertive only-board red">6</span>
				</a>
			</div>
		  <a class="item item-icon-left transparent-color" href="#">
		    <i class="icon icon-Ico_Support"></i>
		    SUPPORT
		  </a>
		  <a class="item item-icon-left transparent-color" href="#">
		    <i class="icon icon-Ico_Knowledge"></i>
		    KNOWLEDGE BASE
		  </a>

		  <a class="item item-icon-left transparent-color" href="#">
		    <i class="icon icon-Ico_Indicators"></i>
		    INDICATORS
		  </a>


		  <a class="item item-icon-left transparent-color" href="#">
		    <i class="icon icon-Ico_Exit"></i>
		    EXIT
		  </a>
		</div>
	</ion-scroll>

  </ion-content>
</ion-view>
