<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content class="login-background" style="    text-align: center;">
  <div style="padding-top: 50px" >
    <span class="icon-Logo_LiquidAO" style="    font-size: 10em;">
      <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span>
    </span>
  </div>

      <div class="list" style="padding-top: 100px">
      <label class="item item-input" style="opacity: 0.4">
      <span class="icon-Ico_User"  style="    font-size: 4em;">
                </span>
        <input type="text" placeholder="Username">
      </label>
      <label class="item item-input" style="opacity: 0.4">
      <span class="icon-Ico_Lock" style="    font-size: 4em;">
                </span>
        <input type="password" placeholder="Password">
      </label>
    </div>
      <a nav-transition="none" ui-sref="dashboard">
      <button class="button button-positive" style="width:100%; color:black; font-weight: bold;">
        login
      </button>
    </a>
    <div class="row">
      <div class="col col-50">
        <a href="">Forget Password </a>
      </div>
      <div class="col col-50">
        <a href="">Create Account </a>
      </div>
    </div>

    
    
    <br/><br/> 
    
  </ion-content>
</ion-view>
