<ion-view view-title="Login">
  <ion-content>
    <h1>Login</h1>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password">
      </label>
    </div>
    <a nav-transition="none" ui-sref="dashboard">
      <button class="button button-positive">
        Entrar
      </button>
    </a>
    <br/><br/> 
    
  </ion-content>
</ion-view>
