<ion-view view-title="Agente Virtual">
  <ion-content>



	<div class="row  ">
	  <div class="col col-50">
		  <div class="list card">
		    <div class="item item-image">
			  	<img src="modules/atendimento/images/placeholder.png">
			  </div>
		  </div>
	  </div>

	  <div class="col col-50">
  		<div class="list">
		    <div class="chat-bubble right">

			  <div class="message ng-binding">Wow, this is really something huh? asudhausdhuahsd
			  ajshdjasdajsdija sdiajsid jaisjijai sjdaijsd iajsid jaisj diajs id a
			  sdasd asdasd asd 
			  </div>

			  <div class="message-detail">
			      <span class="bold ng-binding">Marty</span>, 
			      <span >2 years ago</span>
			  </div>

			</div>
			</div>
	  </div>
	</div>
  	

  	
  </ion-content>
  <ion-footer-bar align-title="center" class="bar">
	  <div class="item item-input-inset " style="
		    width: 100%;
		">
	    <label class="item-input-wrapper">
	      <input type="text" placeholder="">
	    </label>
	    <button class="button button-small">
	      <i class="icon ion-mic-a"></i>
	    </button>
	  </div>
		 
	</ion-footer-bar>
</ion-view>


