<ion-view view-title="Agente Virtual">
  <ion-content>



	<div class="row padding ">
	  <div class="col col-50">
		  <div class="list card">
		    <div class="item item-image">
			  	<img src="modules/atendimento/images/placeholder.png">
			  </div>
		  </div>
	  </div>

	  <div class="col col-50">
  		<div class="list">
		  <label class="item item-input">
		    <textarea rows=10 placeholder="Text"></textarea>
		  </label>
		</div>
	  </div>
	</div>
  	

  	
  </ion-content>
  <ion-footer-bar align-title="center" class="bar">
	<div class="list">
	  <div class="item item-input-inset ">
	    <label class="item-input-wrapper">
	      <input type="text" placeholder="">
	    </label>
	    <button class="button button-small">
	      <i class="icon ion-mic-a"></i>
	    </button>
	  </div>
	</div>
		<!-- <div class="buttons">
			<button class="button">Left Button</button>
		</div>
		<h1 class="title">Title!</h1>
		<div class="buttons" ng-click="doSomething()">
			<button class="button">Right Button</button>
		</div> -->
	</ion-footer-bar>
</ion-view>
