/* Empty. Add your own CSS if you like */
@font-face {
  font-family: 'Rajdhani';
  src: url('../Fonts/Rajdhani-Regular.ttf');
  src: url('../Fonts/Rajdhani-Regular.ttf') format('truetype'),
        url('../Fonts/Rajdhani-Light.ttf') format('truetype'),
        url('../Fonts/Rajdhani-Medium.ttf')format('truetype'),
        url('../Fonts/Rajdhani-Bold.ttf') format('truetype'),
        url('../Fonts/Rajdhani-SemiBold.ttf') format('truetype');
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
  

.chat-bubble.right {
    background-color: #158ffe;
    color: #fff;
    float: right;
}
.chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 100%;
}
.chat-bubble.right:before {
    background-color: #158ffe;
    bottom: 2px;
    left: -6px;
    -webkit-transform: rotate(25deg) skew(0deg);
}
.chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 29px;
    width: 15px;
    position: absolute;
}


.login-background {
  background: url(../img/Assets/BG_Login@mdpi.png) no-repeat center;
  background-size: cover;
  z-index: -1;
}
.menu-background {
  background: url(../img/Assets/BG_Menu@mdpi.png) no-repeat center;
  background-size: cover;
  z-index: -1;
}

.dashboard,.profile{
  color:#39BFC9;
  text-align: left;
  font-family: "Rajdhani"!important;
}

.dashboard .box{
  border:1px solid #39BFC9;
  padding:10px;
  margin:10px;
}
.dashboard label.title{
  border-bottom: 1px   solid #39BFC9;
  width: 100%;
  font-weight: bold;
}
.dashboard .button-bar{
  padding-top: 10px
}
.dashboard .box .button-bar .button {
  border-right: 1px   solid #39BFC9;
}
.dashboard .box .button-bar .button:last-child  {
  border-right: 0px   solid #39BFC9;
}
.dashboard .button-bar .transparent-color{
  color:#39BFC9;
}
.transparent-color.button{
  background-color: transparent;
}
.transparent-color{
  background-color: transparent!important;
}

.profile .profile-header{
  
}