/* Empty. Add your own CSS if you like */
@font-face {
  font-family: 'Rajdhani';
  src: url('../Fonts/Rajdhani-Regular.ttf');
  src: url('../Fonts/Rajdhani-Regular.ttf') format('truetype'),
        url('../Fonts/Rajdhani-Light.ttf') format('truetype'),
        url('../Fonts/Rajdhani-Medium.ttf')format('truetype'),
        url('../Fonts/Rajdhani-Bold.ttf') format('truetype'),
        url('../Fonts/Rajdhani-SemiBold.ttf') format('truetype');
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.red{
  color:red!important;
}
.white{
  color:white!important;
}

.title.title-left.header-item{
  padding:2px 0px;
}
.title.title-left.header-item div{
  padding-top: 4px;
}
.title.title-left.header-item img{
  margin: auto;
  display: inline;
  float: left;
  border: 1px solid white;
  border-radius: 1.3em;
  width: 37px;
}

.title.title-left.header-item span{
  padding-left: 14px;
  float: left;
  color: white;
}

.bar.bar-light {
  background-color: rgba(255,255,255,.66) !important; /* or transparent, or background:none */
}
.scroll-content {
  overflow: visible !important;
}
.bar.bar-header h1 {
color: black !important;
}
.scroll-content {
overflow: visible !important;
}    
.bar.bar-header {
     background: rgba(255,255,255,.10);
border-bottom-width: 0;
}
.platform-ios.platform-cordova:not(.fullscreen) .has-header {
 top:0px; 
}
.chat-bubble.right {
    background-color: #158ffe;
    color: #fff;
    float: right;
}
.chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 100%;
}
.chat-bubble.right:before {
    background-color: #158ffe;
    bottom: 2px;
    left: -6px;
    -webkit-transform: rotate(25deg) skew(0deg);
}
.chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 29px;
    width: 15px;
    position: absolute;
}


.login-background {
  background: url(../img/Assets/BG_Login.jpg) no-repeat center;
  background-size: inherit;
  z-index: -1;
}
.menu-background {
  background: url(../img/Assets/BG_Home.jpg) no-repeat center;
  background-size: inherit;
  z-index: -1;
}

.dashboard,.profile{
  color:#39BFC9;
  text-align: left;
  font-family: "Rajdhani"!important;
}

.dashboard i[class^="icon-"]{
  font-size: 3.5em;
  display: block;
}
.dashboard .button label{
  font-size: 1em;
}
.dashboard .icon{
  display: block;

}

.dashboard .box{
  border:1px solid #39BFC9;
  padding:10px;
  margin:10px;
  background-color: rgba(0,0,0,0.4);
  font-family: "Rajdhani"!important;

}
.dashboard label.title{
  border-bottom: 1px   solid #39BFC9;
  width: 100%;
  font-weight: bold;
  color:#39BFC9;
  font-size: 1.2em;

}
.dashboard .button-bar{
  padding-top: 10px
}
.dashboard .box .button-bar .button {
  border-right: 1px   solid #39BFC9;
}
.dashboard .box .button-bar .button:last-child  {
  border-right: 0px   solid #39BFC9;
}
.dashboard .button-bar .transparent-color{
  color:#39BFC9;
}
.transparent-color.button{
  background-color: transparent;
}
.transparent-color{
  background-color: transparent!important;
}
.title{
  color: white;
  font-family: "Rajdhani"!important;

}
.back-button.buttons{
  background-color: transparent!important;
  color:white;
}

.profile{
  font-family: "Rajdhani"!important;

}

.profile .profile-header{
  background-color: rgba(0,0,0,0.4)!important;
  border-top: 1px solid rgba(255,255,255,0.099)!important;

}
.profile-same-color--header{
  background-color: rgba(0,0,0,0.2)!important;

}
.profile .profile-header img{

  border: 1px solid white;
  border-radius: 4.6em;
}

.profile .profile-header .item{
  padding-top: 0;
  border:0px;

}

.profile .list .item:last-child{
  border:0px;
}
.profile .list.profile-menu {
  margin:0 20px;
}
.profile .list.profile-menu .item .icon{
  font-size: 3em!important;
      left: 0px;
}
.profile .list.profile-menu .item {
  font-weight: bold;
}
.profile .list.profile-menu .item{
  border:0px;
  border-bottom: 1px   solid #39BFC9;
}

.profile .item h1{
  color:white!important;
  font-family: "Rajdhani"!important;
  padding: 0;
  margin:auto;
  font-size: 2em;

}
.only-board{
  border: 1px solid red;
  background-color: transparent!important; 
}
.profile .item p{
  color:white!important;
  font-family: "Rajdhani"!important;
  opacity: 0.7;
  font-size: 1.3em;
}